$title-font-family: georgia;
$title-font-color: #444;
$title-font-size: 12px;
$title-font-weight: normal;
 

.title-section {
	color: $title-font-color;
	font-family: $title-font-family;
	font-size: $title-font-size;
	font-style: italic;
	font-weight: $title-font-weight;
	margin-bottom: 15px;

	&:after {
		margin-left: 100px;
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 0;
    	background: url("../images/title_bg2.png") repeat  0 0 rgba(0, 0, 0, 0);
    	content: " ";
    	min-height: 15px;
		min-width: calc(100% - 100px);
	}
}

.article-container {
	min-height: 115px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDD;
	overflow: auto;
}

.article {
	float: left;
	width: calc(100% - 280px);;
}

.img-border {
	float: left;
	border: 1px solid #ddd;
    margin-right: 100px;
    padding: 3px;
    width: 170px;
    height: 90px;
}

.article-title {
	margin: 0 0 8px 0;
	padding: 0;
}

.article-title a {
	color: $title-font-color;	
	font-family: $title-font-family;
	font-size: 13px;;
	font-weight: $title-font-weight;
	text-decoration:none;
}

.article-title a:hover {
	color: #DB8937;
}

.date {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: $title-font-family;
	font-size: 10px;
	color: #aaaaaa;
}

.comments {
	color: #aaaaaa;
	text-decoration: none;
}

.date a:hover {
	color: #000;
}

.resume {
	margin-top: 8px;
	font-size: 13px;
	font-family: Arial;
	font-weight: normal;
	line-height: 18px;
	color: rgb(85, 85, 85);
}